#container {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

h1 {
  color: #333;
  text-align: center;
}

p {
  font-size: large;
  text-align: center;
}
