<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div id="container">
      <div>
        <h1>Hello From Flask</h1>
      </div>
      <div>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. In corrupti
          doloribus similique hic tempore ab magnam ipsam temporibus dolor
          officiis ipsum consequuntur, nihil maxime provident? Expedita sit
          deserunt cupiditate sint.
        </p>
      </div>
    </div>
  </body>
</html>
